<div class="app-container">
    <div class="flex-row flex-around">
        <app-board class="board-margin"></app-board>
    </div>
    <div>
        {{currentState$ | async}}
      </div>
      <div>
          {{currentCount$ | async}}
      </div>
      <div>
          {{rate$ | async}}
      </div>
      
      <button (click)="updateState('start')">Start</button>
      <button (click)="reset()">Reset</button>
      <button (click)="updateState('pause')">Pause</button>
      
      <div>
          <button (click)="increaseRate()">Increase Speed</button>
          <button (click)="resetTimer()">Reset Timer</button>
      </div>
      
      <router-outlet></router-outlet>
</div>
